body {
	background-color: #81CFE0;
	color: white;
	font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: serif;
	font-weight: 100;
}

dt {
	list-style-type: square;
	list-style-position: inside;
	display: list-item;
	margin-top: 1em;
}

dd {
	list-style-type: circle;
	list-style-position: inside;
	display: list-item;
}

dd:last-child {
	margin-bottom: 1em;
}