@import "../bower_components/bootstrap/less/bootstrap";

body {
}

.mainPage {
  button {
    display: block;
    width: 100%;
    height: 5em;
    max-width: 600px;
    margin: 3em auto;
  }
}
