<div class="row" style="margin: 0;">
    <div style="text-align: center;">
        <button class="btn btn-default" ng-click="barShow = false; pieShow = true;">Pie View</button>
        <button class="btn btn-default" ng-click="barShow = true; pieShow = false;">Bar View</button>
    </div>
    <div  ng-show="pieShow">
        <flot dataset="dataset" options="pieOptions" height="480px" width="100%"></flot>
        <div id="pieLegend" style="width: 200px; height: 200px;"></div>
    </div>
    <div  ng-show="barShow">
        <flot dataset="dataset" options="barOptions" height="480px" width="100%"></flot>
        <div id="barLegend" style="width: 200px; height: 200px;"></div>
    </div>
</div>