<div class="row" style="margin: 0;">
    <div style="text-align: center;">
        <button class="btn btn-default" ng-click="pieView()">Pie View</button>
    </div>
    <div>
        <flot dataset="dataSet" options="flotOptions" height="480px" width="100%"></flot>
        <div style="" ng-show="pieShow">
            <table class="table table-hover">
              <thead>
                <tr><th>Activity</th><th>Minutes</th></tr>
              </thead>
              <tbody>
                <tr ng-repeat="data in dataSet" ng-click="activityView(data.label)"><td>{{data.label}}</td><td>{{data.dataVal}}</td></tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
